/* cursor:not-allowed; SIRVE PARA DESHABILITAR LA OPCION */
/* box-sizing: border-box; SIRVE PARA QUE SE AJUSTE EL TAMAÑO COMPLETO A LA PANTALLA */
/* HEX: REPRESENTA COLORES EN DONDE LOS PRIMEROS 2 DIGITOS SON EL ROJO, LOS SIGUIENTES 2 EL AZUL, Y LOS ULTIMOS 2 EL VERDE */

/* USAR GOOGLE FONTS */
/* ARREGLAR LAS MEDIDAS CON REM */
/* COLOCAR MISMAS MEDIDAS DE BOTONES EDITAR Y ELIMINAR, Y COLOCAR ICONOS */
/* CAMBIAR EL H3 DE LOS NOMBRES A INPUT */

:root {
    color-scheme: light dark;
    --bg-color: light-dark(white, black);
    --text-color: light-dark(#262626, #ededed);
    --content-width: 80rem;
}

 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 80rem;
    height: calc(18vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input-group {
    margin-bottom: 18px;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid;
    border-radius: 8px;
    font-size: 16px;
}

.error-message {
    color: #ff0000;
    font-size: 0.7rem;
}

button {
    cursor: not-allowed;
    padding: 12px 20px;
    border-radius: 8px;
}

.contact-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    background-color: rgba(0,0,0,0.05);
    border-radius: 8px;
}

.contact-actions button {
    margin-left: 10px;
}

.edit-btn {
    background-color: #2196F3;
    color: white;
    cursor:not-allowed;
}

.delete-btn {
   background-color: #f32121;
   color: white; 
   cursor:not-allowed;
}

.add-btn {
    background-color: #15c205;
    color: white;
    cursor:not-allowed;
}

.contacts-list {
   flex-grow: 1;
   overflow: auto; 
   margin-top: 20px; 
}

@media (hover: hover) {
   button:hover {
       opacity: 0.9; 
   }
}

@media (min-width: 425px) {
    .delete-btn {
      display: flex;
    }
}